body {
  font-family: "Kanit", sans-serif;
}

.starFast {
  animation: starAnim 0.5s ease-in-out infinite;
}

.star {
  animation: starAnim 1s ease-in-out infinite;
}

.starSlow {
  animation: starAnim 1.5s ease-in-out infinite;
}

.starSuperSlow {
  animation: starAnim 2s ease-in-out infinite;
}

.scrollCustom *::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.scrollCustom *::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.229);
}

.scrollCustom *::-webkit-scrollbar-thumb {
  background-color: rgb(16 185 129);
  border-radius: 6px;
}
.scrollCustom::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

.scrollCustom::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

@keyframes starAnim {
  0% {
    opacity: 0.45;
    scale: 1;
  }

  50% {
    opacity: 0.25;
    scale: 0.84;
  }

  100% {
    opacity: 0.55;
    scale: 1;
  }
}
